*{
    margin: 0;
    padding: 0;
}

#minecraft .icon{
    background-image: url(https://cdn2.steamgriddb.com/logo_thumb/90915208c601cc8c86ad01250ee90c12.png);
}
#minecraft{
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8)), 
            url(https://cdn2.steamgriddb.com/hero/ecd812da02543c0269cfc2c56ab3c3c0.png);
}
#gtavc .icon{
    background-image: url(https://cdn2.steamgriddb.com/logo_thumb/a60c71bd110ebc4d6916e16b8ca24fda.png);
}
#gtavc{
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8)),
            url(https://cdn2.steamgriddb.com/hero_thumb/75291728e2d8458a104b6abd0b062b70.jpg);
}
#rise_of_the_half_moon .icon{
    background-image: url(https://www.gstatic.com/delight/funbox/arcade/thumbnail_halfmoon.webp);
}
#rise_of_the_half_moon{
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8)), 
            url(img/half_moon_desktop.png);
}
#neal_fun .icon{
    background-image: url(img/neal_fun_logo.png);
}
#neal_fun{
    background: linear-gradient(rgb(212, 212, 212), rgb(133, 133, 133));
}
#geoguessr .icon{
    background-image: url(https://cdn2.steamgriddb.com/logo/11889e1b274e30490b5bf6d255042b26.png);
}
#geoguessr{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6)), 
            url(https://cdn2.steamgriddb.com/hero/67c9851b0100e3bae408fb8525ce0935.png);
}
#sfex2 .icon{
    background-image: url(https://cdn2.steamgriddb.com/logo/3039d41a24ba453f9e6ec2478497eee4.png);
}
#sfex2{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6)), 
            url(https://cdn2.steamgriddb.com/hero/e97932e472c0d427a6cdbb91d5404241.png);
}
body{
    color: #fff;
    background-color: #000;
    font-family: sans-serif;
}

#links{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card_link{
    width: 1122px;
    margin: 20px;
    border: 1px solid #fff;
    box-shadow: #fff 10px 10px 0px,
                #fff 9px 9px 0px,
                #fff 8px 8px 0px,
                #fff 7px 7px 0px,
                #fff 6px 6px 0px,
                #fff 5px 5px 0px,
                #fff 4px 4px 0px,
                #fff 3px 3px 0px,
                #fff 2px 2px 0px,
                #fff 1px 1px 0px;
    background-size: cover !important;
    background-position: center !important; 
}

.card_link .icon{
    height: 250px;
    width: 350px;
    flex-shrink: 0;
    margin: 20px 20px 20px 80px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

@media (max-width: 1400px) {
    .card_link{
        width: 80%;
    }
}

@media (max-width: 700px) {
    .card_link{
        width: 93%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .card_link .icon{
        margin: 20px;
    }
}
